<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/Resources/favicon.ico">
    <title>Document</title>
</head>

<body>
    <!----- CSS and Script-->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <!------ HTML Element ----->
    <div class="logo-and-name">
        <img class="small-logo" src="/img/Resources/logoHCMUS.png">
        <p class="interFontText" id="labelCanteen" style="font-size:3.5vw; margin-top:7vh">
            CĂN TIN <br> TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN
        </p>
    </div>

    <form action="/customer" method="get">
        <button type="submit">Quay lại</button>
    </form>

    <div class="product-frame">
        <% for(let i = 0; i < data.length; i++) {%>
        <div class="product">
            <div class="image">
                <img src="/img/Resources/logoHCMUS.png" alt="product-logo" style="width: 20vw; height:20vw">
            </div>
            <div class="info">
                <span class="interFontText" style="font-size: 3.5vw">
                    <%= data[i].TP_TEN %><br>
                </span>
                <div>
                    <span class="interFontText" style="font-size: 3.5vw">
                        Số lượng: <%= data[i].GH_SOLUONG %>
                    </span>
                </div>
                <span class="interFontText" style="font-size: 3.5vw">
                    Tổng: <%= data[i].GH_TONGTIEN %>
                </span>
                
            </div>
            <div class="addbutton">
               <form action="/customer/cart/reduce" method="post">
                    <input type="text" hidden name="GH_ID" value="<%= data[i].ID %>">
                    <button>-</button>
               </form>
            </div>
            <div class="addbutton">
                <form action="/customer/cart/delete" method="post">
                    <input type="text" hidden name="GH_ID" value="<%= data[i].ID %>">
                    <button>x</button>
               </form>
            </div>
        </div>
        <% } %>
    </div>

    <button class="review-cart-button interFontText">
        THANH TOÁN
    </button>
</body>

</html>