<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/cart">Cart</a>
        <a class="active" href="/edit-food">Edit Food</a>
        <a href="/management">Management</a>
    </div>

    <div class="w3-container">
        <table class="w3-table-all w3-hoverable">
            <thead>
            <tr class="w3-light-grey">
                <th> </th>
                <th>Name of food</th>
                <th>Type of food</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
            </thead>
            <Tbody>
                <h2><%= title %></h2>
                <% for(let i=0; i < data.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= data[i].TP_TEN %></td>
                        <td><%= data[i].TP_LOAI %></td>
                        <td><%= data[i].TP_GIA %></td>
                        <td class="">
                            <!-- <form action="/add-food-to-cart/<%=data[i].TP_MA%>" method="get">
                                <button type="submit">Add to cart</button>
                            </form> -->
                            <form action="/edit-food/<%=data[i].TP_MA%>" method="get">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/delete-food" method="post">
                                <input type="text" hidden value="<%=data[i].TP_MA%>" name="TP_MA">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                 <% } %>    
            </Tbody>
        </table>
    </div>

    <div class="create-user-container">
        <form action="/create-new-food" method="post">
            <div>
                <h3>Create FOOD</h3>
            </div>
            <div>
                <label for="">Name of Food: </label>
                <input type="text" name="TP_TEN">
            </div>
            <div>
                <label for="">Type of Food: </label>
                <input type="text" list="TypeOfFood"  name="TP_LOAI">
                <datalist id="TypeOfFood">
                    <option value="Đồ ăn liền"></option>
                    <option value="Đồ nấu"></option>
                </datalist>
            </div>
            <div>
                <label for="">Cost of Food: </label>
                <input type="number" name="TP_GIA">
            </div>
            <div>
                <button type="submit" class="btn-submit-food">Submit</button>
            </div>
        </form>
    </div>
    <img src="/img/keqing2.png" alt="">
</body>
</html>